.t-box {
  align-items: center;
  background-image: url(../assets/coolgb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
}

.t-box h1 {
  background-color: transparent;
}

.t-box p {
  color: white;
  overflow: hidden;
}

.t-card {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 20px;
  justify-content: center;
}

.Testimonial {
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0;
}

.review {
  background-color: rgba(249, 246, 246, 0.205);
  border-radius: 8%;
  height: 300px;
  margin-top: 40px;
  padding: 10px 20px;
  width: 300px;
}

.rev-text {
  margin-top: 10px;
}

.people {
  display: flex;
}

.pro-img {
  background-color: blanchedalmond;
  border-radius: 50%;
  height: 46px;
  width: 46px;
}

.pro-con {
  color: rgb(252, 245, 245);
  margin-left: 15px;
}
